body{
    background-color:black;
}
button, #number_of_objects, #status{
    font-size: 18px;
}
#h1{
    position: fixed;
    width: 100%;
    font-size: 18px;
    text-align: center;
    line-height: 3;
    top: 0;
    background-color: aliceblue;
}
#copyright_footer{
    position: fixed;
    width: 100%;
    color: gray;
    bottom: 0;
    background-color: white;
    line-height: 3;
    text-align: center;
}
